<div class="articles_list">
    <div class="articles_list_item" ng-repeat="article in articles">
        <div class="title">{{ article.title }}</div>

        <div class="dates">
            <div class="updated_on">Last update on: {{ article.updatedOn.timestamp.toString() + '000' | date:'medium' }}</div>
            <div class="created_on">Created on: {{ article.createdOn.timestamp.toString() + '000' | date:'medium' }}</div>
        </div>

        <div class="content">{{ article.content }}</div>

        <div class="actions">
            <input type="button" ng-click="editArticle(article.slug)" value="Edit" />
            <input type="button" ng-click="deleteArticle(article.slug)" value="Delete" />
        </div>

        <div class="clearfix"></div>
    </div>
</div>